<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %} {% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="//i.gtimg.cn/qzone/biz/gdt/lib/bootstrap-3.3.7/css/bootstrap-base64font.min.css" />
    <link rel="stylesheet" href='//i.gtimg.cn/qzone/biz/gdt/lib/bootstrap-3.3.7/css/bootstrap-theme.css?max_age=31536000' />

    <link rel='stylesheet' href='./css/style.css'>
</head>

<body>
    <div id="pageRoot" class="container-fluid"></div>
    <script src='//i.gtimg.cn/qzone/biz/gdt/lib/jquery/jquery-2.1.4.js?max_age=31536000'></script>
    <script src='//i.gtimg.cn/qzone/biz/gdt/lib/react-16.1.1/react.react-dom.production.min.js?max_age=31536000'></script>

    <script src='//i.gtimg.cn/qzone/biz/gdt/lib/lodash-4.17.3/lodash.min.js?max_age=31536000'></script>
    <script src='//i.gtimg.cn/qzone/biz/gdt/lib/bootstrap-3.3.7/js/bootstrap.min.js?max_age=31536000'></script>
    <script src='//i.gtimg.cn/qzone/biz/gdt/lib/moment-2.10.6/moment.js?max_age=31536000'></script>
    <script src='//i.gtimg.cn/qzone/biz/gdt/lib/tryjs-1.1.1/tryjs.min.js?max_age=31536000'></script>
    <script>
        Tryjs.init({
            id: 8
        });
    </script>
    <script src='./js/common.js'></script>
    {% block bundle %} {% endblock %}

</body>

</html>