

html {
    min-height: 100%;
}
body{
    padding-bottom: 200px;
    min-width: 1080px;
    position: relative;
    min-height: 960px;
}

header, section, main, footer{

}

.section-header {
    width: 100%;
    height: 84px;
    line-height: 84px;
    color: #fff;
    background-color: #4D0000;
}

.menu-container{
    position: relative;
    margin-top: 30px;
}

.memu-list {
    position: absolute;
    top: -314px;
    right: 10px;
    height: 84px;
    line-height: 84px;
    font-size: 16px;
}

.memu-list li {
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
}

.memu-list li a{
    display: inline-block;
    margin-left: 6px;
    color: #999;
    text-decoration: none;
}

.memu-list li a:hover, .memu-list li a.active{
    color: #fff;
}

.section-header .nav {
    position: relative;
    width: 1080px;
    min-width: 1080px;
    margin: 0 auto;
    line-height: 60px;
}

.section-header .nav h4{
    line-height: 40px;
    width: 50%;
    float: left;
}

.section-header .nav h4 img {
    width: 150px;
    height: 64px;   
}

.section-header .nav h4 a{
    color: #eee;
}

.section-header .nav h4 a:hover{
    text-decoration: none;
}

.section-banner {
    width: 100%;
    padding: 0;
}

.section-banner img{
    width: 100%;
    height: 200px;
}

.section-main{
    width: 1080px;
    margin: 20px auto;
    min-height: 40px;
    height: auto;
    /* overflow: hidden; */
}

.section-main .left-nav{

}

.section-main .right-content{

}

.section-footer {
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
    min-width: 1080px;
    background-color: #4D0000;
}

.section-footer .footer-attach{
    width: 1080px;
    min-width: 1080px;
    padding: 30px;
    margin: 0 auto;
    color: #fff;
}