* {
    outline: none !important;
}

html {
    min-height: 100%;
}

body {
    padding-bottom: 200px;
    min-width: 1366px;
    position: relative;
    min-height: 960px;
}

.table{
    font-size: 16px;
}

fieldset {
    padding: 10px 0;
}

.label {
    user-select: none;
}

.section-header {
    width: 100%;
    height: 84px;
    line-height: 84px;
    color: #fff;
    background-color: #4D0000;
}

.top-menu-container {
    position: relative;
    margin-top: 30px;
}

.top-menu-list {
    position: absolute;
    top: 0;
    right: 20px;
    height: 84px;
    line-height: 84px;
    font-size: 16px;
}

.top-menu-list li {
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
}

.top-menu-list li a {
    display: inline-block;
    margin-left: 6px;
    color: #999;
    text-decoration: none;
}

.top-menu-list li a:hover,
.top-menu-list li a.active {
    color: #fff;
}

.left-menu-list {
    position: absolute;
    width: 150px;
    color: #eee;
    background-color: #202020;
    bottom: 190px;
    font-size: 16px;
    top: 84px;
}

.left-menu-list {
    padding-top: 30px;
}

.left-menu-list li .fa {
    margin-right: 5px;
}

.left-menu-list li {
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
    cursor: pointer;
}

.left-menu-list li:hover,
.left-menu-list li.active {
    background-color: #888;
    border-left: 10px solid #4D0000;
}

.left-menu-list a {
    width: 100%;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    color: #eee;
    text-decoration: none;
}

.section-header .nav {
    min-width: 1366px;
    padding-left: 15px;
    line-height: 60px;
}

.section-header .nav h4 {
    line-height: 40px;
    width: 50%;
    float: left;
}

.section-header .nav h4 img {
    width: 150px;
    height: 64px;
}

.section-header .nav h4 a {
    color: #eee;
}

.section-header .nav h4 a:hover {
    text-decoration: none;
}

.section-banner {
    width: 100%;
    padding: 0;
}

.section-banner img {
    width: 100%;
    height: 200px;
}

.section-main {
    width: 1280px;
    min-height: 40px;
    height: auto;
}

.section-main .container {
    margin: 20px auto 80px 200px;
}

.section-main .left-nav {}

.section-main .right-content {}

.section-main .right-content label {
    font-weight: normal;
    font-size: 16px;
}

.section-footer {
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
    min-width: 1366px;
    background-color: #4D0000;
}

.section-footer .footer-attach {
    width: 1366px;
    padding: 30px;
    margin: 0 auto;
    color: #fff;
}

